
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D7CCC8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #8bc34a;
    color:#3E2723;
}

.logo a {
    color: #3E2723;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color:#3E2723;
    text-decoration: none;
    font-size: 16px;
}

.navbar ul li a:hover {
    color:#795548; /* Tomato color */
}



.signup-login-nav ul {
    list-style: none;
    display: flex;
}

.signup-login-nav ul li {
    margin-left: 20px;
}

.signup-login-nav ul li a {
    color:#3E2723;
    text-decoration: none;
    font-size: 16px;
}

.signup-login-nav ul li a:hover {
    color:#795548; 
}
