/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D7CCC8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #8bc34a;
    color:#3E2723;
}

.logo a {
    color: #3E2723;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.navbar ul li a {
    color:#3E2723;
    text-decoration: none;
    font-size: 16px;
}

.navbar ul li a:hover {
    color:#795548; /* Tomato color */
}

.search-bar {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.search-bar input {
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 200px;
}

.search-bar button {
    padding: 10px 12px;
    border: none;
    background-color: #795548;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #795548;
}

.cart a {
    position: relative;
    color: #fff;
    text-decoration: none;
}

.cart img {
    width: 24px;
    height: 24px;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color:#795548;
    color: #fff;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}